# -------------------------------------------------------
# Activar RewriteEngine
# -------------------------------------------------------

RewriteEngine on

# -------------------------------------------------------
# Eliminamos index.php  
# -------------------------------------------------------

RewriteCond $1 !^(index.php|assets|robots.txt)
RewriteRule ^(.*)$ /codeigniter/index.php/$1 [L]

AddDefaultCharset UTF-8